/DemoFilter/nbproject/private/
/DemoFilter/build/
/DemoFilter/dist/
/BTVN/BTVN_DemoFilter_SLOT12/nbproject/private/
/BTVN/BTVN_DemoFilter_SLOT12/build/
/BTVN/BTVN_DemoFilter_SLOT12/dist/
/BTVNSLOT12/nbproject/private/
/BTVNSLOT12/build/
/BTVNSLOT12/dist/
